# .coveragerc to control coverage.py
# See: https://coverage.readthedocs.io/en/6.4.2/config.html

# These settings are generally used when running product code, though some apply
# to more than one command.
[run]
branch = True

# Environment variables can be substituted in by using dollar signs:
# $WORD or ${WORD} will be replaced with the value of WORD in the environment

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod

ignore_errors = True

[html]
directory = coverage_html_report