{% extends "base.html" %}

{% block main %}
<!-- The container for this row is in the base.html template -->
<div class="row">
    <div class="col p-4">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript">
            $.ajax({
                type: "POST",
                url: "http://localhost/json_parrot.do",
                data: JSON.stringify({ "userName": "fred", "password" : "sneaky_stuff", "random_thing" : "no_kidding_thats_random"}),
                contentType: "application/json",
                success: function (result) {
                    console.log(result);
                },
                error: function (result, status) {
                    console.log(result);
                }
                });
        </script>
    </div>
</div>
<div class="row">
    <div class="col p-4">
        <!-- We only display the sidebar on XL screens (d-none by default...)-->
        <form method="POST" action="/check_username_available.do">
            <label for="uname">Username: </label>
            <input type="text" id="uname" name="username"><br>
            <input type="submit" value="Check">
        </form>
    </div>
</div>
<div class="row">
    <div class="col p-4">
        <!-- We only display the sidebar on XL screens (d-none by default...)-->
        <form method="POST" action="https://api.journeyti.me/register.do">
            <label for="uname">Username: </label>
            <input type="text" id="uname" name="username"><br>
            <label for="pass">Password_hash (8 characters minimum):</label>
            <input type="password" id="pass" name="password_hash" minlength="8" required><br>
            <input type="submit" value="REgister">
        </form>
    </div>
</div>
<div class="row">
    <div class="col p-4">
        <!-- We only display the sidebar on XL screens (d-none by default...)-->
        <form method="POST" action="/login.do">
            <label for="uname">Username: </label>
            <input type="text" id="uname" name="username"><br>
            <label for="pass">Password_hash (8 characters minimum):</label>
            <input type="password" id="pass" name="password_hash" minlength="8" required><br>
            <input type="submit" value="Login">
        </form>
    </div>
</div>
<div class="row">
    <div class="col p-4">
        {{ form.name }}
        <form method="POST" action="{{ url_for('update_user') }}" enctype="multipart/form-data">
            {{ form.csrf_token() }}
            {% for field in form if field.widget.input_type != 'hidden' if field.type != 'SubmitField' %}
                {{ field.label }}
                {{ field }}
                <span>
                {% if field.errors %}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
                </span><br>
            {% endfor %}
            {{ form.submit}}
        </form>
    </div>
</div>
{% endblock %}